/*
* The service principal
*/
KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    useTicketCache=false
    keyTab="${SERVER_KEYTAB_PATH}"
    principal="${SERVER_PRINCIPAL_PATH}";
};
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="${CLIENT_KEYTAB_PATH}"
    principal="${CLIENT_PRINCIPAL_PATH}";
};